<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ValidadorDados.Properties.Settings.AX_Migracao_StagingConnectionString" connectionString="Data Source=TM-DBAXDIVERSOS;Initial Catalog=AX_Migracao_Staging;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ValidadorDados.Properties.Settings.AX62_TMSA_PRDConnectionString" connectionString="Data Source=CLSQLDB\DAXDB;Initial Catalog=AX62_TMSA_PRD;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
